/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 8, 2021, 3:53:09 PM
    Author     : Victor Malone (vm19171)
*/


html {
    min-height: 100%;
    background-image: url("resources/bgImageEDIT.png"); 
    background-repeat: repeat;
    
}

h1 {
    text-align: center;
}

.content {
    background-color: red;
}